{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Cute Cats 🐱 - Sign Up!
{% endblock title %}

{% block content %}
<header>
  <nav>
    <p class="pad"><a href="{% url 'cat_list' %}">🏠Home</a></p>
    <p class="pad"><a href="{% url 'about_cat' %}">About😸</a></p>
    <p class="pad"><a href="{% url 'login' %}">Login 😹</a></p>
    <p class="pad"><a href="javascript:history.back()">Back🐾</a></p>
  </nav>
</header>
<main class="center">
  <h1 class="title">⭐ Sign Up! ⭐</h1>
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <br><button>Meow 🐱</button>
  </form>
</main>
{% endblock content %}
