{% extends 'base.html' %}
{% block title %}
Cute Cats! 🐱
{% endblock title %}

{% block content %}
<div class="content-wrapper">
<header>
    <nav>
        <p class="pad"><a href="{% url 'cat_list' %}">🏠Home</a></p>
        {% if user.is_authenticated %}
        <p class="pad"><a href="{% url 'create_cat' %}">Submit😽</a></p>
        <p class="pad"><a href="{% url 'my_cat_list' %}">My Cats 😻</a></p>
        <p class="pad"><a href="javascript: history.go(-1)">Back🐾</a></p>
        <a><p class="user">Hello, {{ user.username }}</p></a>
        {% else %}
        <p class="pad"><a href="{% url 'signup' %}">Sign Up 😼</a></p>
        <p class="pad"><a href="{% url 'login' %}">Login 😹</a></p>
        <p class="pad"><a href="javascript: history.go(-1)">Back🐾</a></p>
        {% endif %}
    </nav>
</header>
<main class="center">
    <h1 class ="title center">🐱 About Cats 🐱 </h1>
    <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/5P6JohWZFQY?si=Cy-Idu-c-Ag1lPEV" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> </p>
    <h2 class ="center">🐱 About Us 🐱</h2>
    <p class = "center formtext">Cats are truly amazing, aren't they?</p>
    <p class = "center formtext">
        We here at Cute Cats have made it<br>
        our dedicated mission to appreciate<br>
        all the wonderful cats in the world.<br><br>
        <p><img src="https://25.media.tumblr.com/21ffb4c26014d32e9699d3d47073734a/tumblr_myit1v8hsy1s0ggdgo1_500.gif"/></p>
    </p>
</main>
</div>
{% endblock content %}
