{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}
Submit - Cute Cats! 🐱
{% endblock title %}

{% block content %}
<div class="content-wrapper">
<header>
    <nav>
        <p class="pad"><a href="{% url 'cat_list' %}">🏠Home</a></p>
        <p class="pad"><a href="{% url 'about_cat' %}">About😸</a></p>
        {% if user.is_authenticated %}
        <p class="pad"><a href="javascript: history.go(-1)">Back🐾</a></p>
        <a><p>Hello, {{ user.username }}</p></a>
        {% else %}
        <p class="pad"><a href="{% url 'signup' %}">Sign Up 😼</a></p>
        <p class="pad"><a href="{% url 'login' %}">Login 😹</a></p>
        <p class="pad"><a href="javascript: history.go(-1)">Back🐾</a></p>
        {% endif %}
    </nav>
</header>
<main class="center">
    <h1 class="title">⭐ Submit Cat ⭐</h1>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <br><button>Submit 🐱</button>
      </form>
</main>
</div>
{% endblock content %}
