{% extends 'base.html' %}
{% block title %}
Cute Cats! - {{ cat_object.title }} 🐱
{% endblock title %}

{% block content %}
<div class="content-wrapper">
<header>
    <nav>
        <p class="pad"><a href="{% url 'cat_list' %}">🏠Home</a></p>
        <p class="pad"><a href="{% url 'about_cat' %}">About😸</a></p>
        {% if user.is_authenticated %}
        <p class="pad"><a href="{% url 'create_cat' %}">Submit😽</a></p>
        <p class="pad"><a href="{% url 'edit_cat' cat_object.id %}">Edit😼</a></p>
        <p class="pad"><a href="javascript: history.go(-1)">Back🐾</a></p>
        <a><p>Hello, {{ user.username }}</p></a>
        {% else %}
        <p class="pad"><a href="{% url 'signup' %}">Sign Up 😼</a></p>
        <p class="pad"><a href="{% url 'login' %}">Login 😹</a></p>
        <p class="pad"><a href="javascript: history.go(-1)">Back🐾</a></p>
        {% endif %}
    </nav>
</header>
<main class="center">
    <h1 class="title center">🐱{{ cat_object.title }}🐱</h1>
    <p class="center"><img src="{{ cat_object.picture }}"></p>
    <div class="rating">{{ cat_object.rating }}</div>
    <h2 class ="center">🐱 Bio 🐱</h2>
    <p class="formtext">{{ cat_object.description }}</p>
    <h2 class="center">🐱 Facts 🐱</h2>
        <ol>
            {% for fact in cat_object.facts.all %}
            <li><p class="formtext center">{{ fact.fact }}</p></li>
            {% endfor %}
        </ol>
    <h2 class="center">🐱 Social 🐱</h2>
        <table>
            <thead>
                <th>Site</th>
                <th>URL</th>
            </thead>
            <tbody>
                {% for social in cat_object.socials.all %}
                <tr>
                    <td><p class="formtext center">{{ social.site }}</p></td>
                    <td><p class="formtext center"><a href="{{ social.url }}"/>{{ social.url }}</a></p></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    <p class="center"><br><br><br><br><br><br>Added on: {{ cat_object.created_on|date:"D F d, Y"}}</p>
    <p class="center">By {{ cat_object.author }}</p>
</main>
</div>
{% endblock content %}
