{% extends 'base.html' %}
{% block title %}
Cute Cats! 🐱
{% endblock title %}

{% block content %}
<div class="content-wrapper">
<header>
    <nav>
        <p class="pad"><a href="{% url 'cat_list' %}">🏠Home</a></p>
        <p class="pad"><a href="{% url 'about_cat' %}">About😸</a></p>
        {% if user.is_authenticated %}
        <p class="pad"><a href="{% url 'create_cat' %}">Submit😽</a></p>
        <p class="pad"><a href="{% url 'my_cat_list' %}">My Cats 😻</a></p>
        <p class="pad"><a href="{% url 'logout' %}">Logout 🐾</a></p>
        <a><p>Hello, {{ user.username }}</p></a>
        {% else %}
        <p class="pad"><a href="{% url 'signup' %}">Sign Up 😼</a></p>
        <p class="pad"><a href="{% url 'login' %}">Login 🐾</a></p>
        {% endif %}
    </nav>
</header>
<main>
    <h1 class = "title center">🐱 Cute Cats 🐱</h1>
    <h2 class = "center">From memes to stars, we love them all!</h2>
    <div class="cats-grid">
        {% for cat in cat_list %}
        <div>
            <h3>
                <p class = "center"><a href="{% url 'show_cat' cat.id %}">{{ cat.title }}</a></p>
            </h3>
            <a href ="{% url 'show_cat' cat.id %}"><img src="{{ cat.picture }}"></a>
            <div class="rating">{{ cat.rating }}</div>
      </div>
      {% endfor %}
    </div>
  </main>
</div>
{% endblock content %}
