@import url(https://fonts.cdnfonts.com/css/cute);

a {
    text-decoration-line: none;
    font-size: 30px;
    color: rgb(255, 57, 90);
    font-family: 'Cute', sans-serif;
}

a:hover {
    color: rgb(255, 173, 216);
    transform: scale(1.1);
    transition: color .4s ease-out;
}

.pad {
    padding-top: 7px;
}

body {
    margin: 0px;
    padding: 0px;
    background-image: url("https://www.decoratorsbest.com/cdn/shop/products/6820760223790.jpg?v=1662798647");
    background-size: cover;
    background-attachment: fixed;
}

header {
    background-color: rgb(255, 215, 221);
}

nav {
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    position: fixed;
    min-width:100%;
    max-width:100%;
    background-color: rgb(255, 215, 221, 50%);
}

main {
    padding: 16px;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 100px;
    box-sizing: inherit;
}

.title {
    color: rgb(236, 90, 166);
    font-weight: bold;
    font-size: 50px;
    padding-top: 70px;
}

.formtext {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255, 80%);
    border-radius: 10px;
    padding-top: 40px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 50px;
}

.center {
    display: grid;
    justify-content: center;
    text-align: center;
}

.cats-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.rating {
    font-size: 30px;
    display: grid;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

img {
    height: 300px;
    width: 300px;
    object-fit: contain;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgb(217, 180, 180);
    background-color: white;
}

img:hover {
    transform: scale(1.1);
    transition: .4s ease-in;
}

.mycat {
    height: 125px;
    width: 125px;
    box-shadow: none;
    background-color: transparent;
    position: fixed;
    bottom: 45px;
    right: 10px;
    z-index: 1;
}

body > footer {
    margin:0px;
    bottom: 0px;
    padding-block: 20px;
    padding-left: 20px;
    min-width:100%;
    max-width:100%;
    height:auto;
    position: fixed;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(255, 215, 221, 50%);
}

::-webkit-scrollbar {
    width: 0px; /** width of total scrollbar **/
    background: #ffc99c; /** background of scrollbar **/
    border: 0px solid #000; /** border around whole scrollbar **/
    }
