{% load static %}
{% load my_filters %}
<!doctype html>
<html>
    <style>* {cursor: url(https://cur.cursors-4u.net/nature/nat-3/nat260.cur), auto !important;}</style>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🐱</text></svg>">
        <title>
            {% block title %}{% endblock title %}
        </title>
        <link rel="stylesheet" href='{% static "css/cats.css" %}'>
    </head>
    <body>
        <img class="mycat" src="https://em-content.zobj.net/source/google/80/cat_1f408.png"/>
        {% block content %}{% endblock content %}
        <footer class="center">
            We love our feline friends! 🩷 Made with love by Cute Cats!
        </footer>
    </body>
</html>
